.transaction-modal {
    position: fixed;
    inset: 0px;
    background-color: rgba(255, 255, 255, 0.75);
    height: 500px;
    width: 600px;
    overflow-y: auto;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open{
    background-color: rgba(0, 0, 0, 0.5);
    height: 500px;
    width: 600px;
    overflow-y: auto;
}