h3{
    color: #ffffff;
    font-size: 25px;
    margin-bottom: 20px;
}

.charts-section {
    margin-top: 20px;
}


.charts-section h3 {
    margin-bottom: 10px;
    color: #333;
    font-size: 18px;
}

.budget-chart, .income-expense-chart, .cashflow-graph {
    margin-bottom: 40px;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 8px;
}

